html, body, #root{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
.login-page{
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    transition: background-image 1s ease-in-out;
    position: relative;
}